{
  "extends": ["stylelint-config-standard", "stylelint-config-clean-order/error"],
  "ignoreFiles": ["node_modules/*"],
  "rules": {
    "media-feature-range-notation": "prefix",
    "declaration-empty-line-before": null,
    "font-family-no-missing-generic-family-keyword": null,
    "import-notation": "string",
    "no-invalid-double-slash-comments": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null
  }
}
