.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.nav-btn {
  padding: 16px;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: #313131;

    .arrow {
      transform: scale(1.3);
    }
  }

  .arrow {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    transition: transform 0.1s linear;

    &.left-arrow {
      border-right: 8px solid #fff;
    }

    &.right-arrow {
      border-left: 8px solid #fff;
    }
  }
}
