.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: auto;
}

.calendar {
  max-width: 320px;
  border: 1px solid gray;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
