.day {
  padding: 10px;
  border: 1px solid transparent;
  text-align: center;

  &:hover {
    background-color: #313131;
  }

  &.empty {
    pointer-events: none;
    visibility: hidden;
  }

  &.today {
    border: 1px solid #78cee6;
  }

  &.selected {
    background-color: #0a87ff;
  }
}
